<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ihs.convergence.dao.PersonDao">
	<select id="selectPersonById" parameterType="com.ihs.convergence.entity.Person" resultType="com.ihs.convergence.entity.Person">
	SELECT id,name,sex,depart,position,authority,phone,hiredate,leavedate,status,password from ihs_person where id=#{id}
	</select>
</mapper>